<% layout("/layouts/boilerplate") %>
<body>
    <h1>All listining</h1>
    <form method="GET" action="/listings/new">
        <button>Create New Listing</button>
    </form>
    <% for(let listing of alllisting) {%>
        <li><a href="/listings/<%= listing._id %>"><%= listing.title %></a></li>
        <% } %>
</body>
