<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>WanderLust</title>
</head>
<body>
    <h1>All listining</h1>
    <form method="GET" action="/listings/new">
        <button>Create New Listing</button>
    </form>
    <% for(let listing of alllisting) {%>
        <li><a href="/listings/<%= listing._id %>"><%= listing.title %></a></li>
        <% } %>
</body>
</html>