<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>WanderLust</title>
</head>
<body>
    <form method="POST" action="/listings">
        <input name="title" placeholder="Enter title" type="text">
        <br>
        <textarea name="description" placeholder="Enter Your Description"></textarea>
        <br>
        <input name="image" placeholder="Enter Your URL/Link" type="text">
        <br>
        <input name="price" placeholder="Enter Price" type="number">
        <br>
        <input type="text" name="title" placeholder="Enter Your Title">
        <br>
        <input type="text" name="country" placeholder="Enter Your country Name">
        <br>
        <input type="text" name="Location" placeholder="Enter Your Location">
        <br>
        <input type="text" name="City" placeholder="Enter Your City Name">
        <br>
        <button>Submit</button>
    </form>
</body>
</html>